/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom, #0077be, #00aaff); /* Degradado azul como el mar */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; /* Cambia el color del texto para que sea legible */
}

header, footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: #fff;
  padding: 1em 0;
  width: 100%;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 1em;
  box-sizing: border-box;
}

iframe, video {
  width: 100%;
  max-width: 600px;
  margin: 1em auto;
  display: block;
}

/* Estilos del formulario de contacto */
.contact-form-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #333; /* Texto oscuro para contraste */
}

h1, h2 {
  text-align: center;
  color: #fff;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
  width: 100%;
  text-align: left;
}

input, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

  